# Python
__pycache__/
*.pyc
.env
uploads/

# Node
node_modules/
.next/
.env.local

# macOS
.DS_Store

# Large model files
backend/models/*.pth

# Virtual environments
.venv/
venv/
lambda_build/
**/site-packages/
**/*.dylib
**/*.so

# Secret keys
openfashion-458418-5aabbba38bcd.json
